<style>
	.myInput {
		border: 3px solid rgba(128, 128, 128, .2);
		background: rgba(255, 255, 255, 0.8);
		font-family: "Raleway-semibold";
		box-shadow: none;
		transition: none !important;
	}


	.myInput:focus {
		border: 3px solid rgba(0, 17, 255, 0.4);

	}


	.buttonLogin:hover {
		background-color: #4f4d99;
		color: white;
	}

	.formValid {
		color: rgb(255, 0, 0);
		font-family: "Raleway-SemiBold";
		opacity: .7;
		padding-top: .5rem;
	}
</style>
<div class="main-panel">
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">User Management</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/admin/users_mngmt">User Management</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Add User</a>
					</li>
				</ul>
			</div>
			<div class="card text-center mycard align-middle border-0">
				<div class=" align-middle p-3 h3 fw-bold">
					User Registration
				</div>
				<div class="card-body ">
					<form action="/admin/add_userForm" method="POST" name="userAddForm" id="userAddForm">

						<input id="signup-name" name="name" class="form-control p-3 myInput shadow-none"
							placeholder="Enter Name" oninput="newNameValid()">
						<div style="height: 1.8rem;">
							<small class="form-text text-muted">

								<span id="signup-nameErr" class="formValid"></span>

							</small>
						</div>


						<input id="signup-username" name="email" class="form-control p-3 myInput shadow-none"
							placeholder="Enter Email" oninput="newUserValid()">
						<div style="height: 1.8rem;">
							<small class="form-text text-muted">

								<span id="signup-userErr" class="formValid"></span>

							</small>
						</div>

						<input id="signup-password" name="password" class="form-control p-3 myInput shadow-none"
							placeholder="Enter Password" oninput="newPassValid()">
						<div style="height: 1.8rem;">
							<small class="form-text text-muted">

								<span id="signup-passErr" class="formValid"></span>
								{{#if message}}
								<script>
									document.getElementById('signup-passErr').innerHTML = "Email already exist";
									setTimeout(() => {
										document.getElementById('signup-passErr').innerHTML = "";
									}, 3000)
								</script>
								{{/if}}
							</small>

						</div>


						<div class="form-group pt-3">
							<button type="submit" class="btn btn-primary p-3 buttonLogin fw-bold w-100"
								style="font-size: 1.3rem;" onclick="newUserValid();newNameValid();newPassValid();">ADD
								USER</button>
						</div>

					</form>

				</div>


			</div>
			<script>

				document.userAddForm.addEventListener("submit", function (event) {

					var user = this.querySelector("input[id=signup-username]").value;
					var name = this.querySelector("input[id=signup-name]").value;
					var pass = this.querySelector("input[id=signup-password]").value;

					var regx = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					var regx2 = /^[a-zA-Z\s]*$/;


					if (name.trim() == "" || !name.match(regx2)) {
						document.getElementById("signup-name").focus();
						event.preventDefault();
					} else if (name.length < 5) {
						document.getElementById("signup-name").focus();
						event.preventDefault();
					} else if (user.trim() == "" || !user.match(regx)) {
						document.getElementById("signup-username").focus();
						event.preventDefault();
					} else if (pass.trim() == "" || pass.length < 5) {
						document.getElementById("signup-password").focus();
						event.preventDefault();
					}
				});

			</script>
			<script src="/javascripts/LS_form_js/main.js"></script>
		</div>

	</div>
</div>
</div>