<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NACMEN</title>
    <link rel="stylesheet" href="/Nacmen/style.css">
    <link href="/Nacmen/stylesheets/LS_form_css/bootstrap.min.css" rel="stylesheet">
    <link href="/Nacmen/stylesheets/LS_form_css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
    {{{body}}}

    <script src="/Nacmen/socket.io/socket.io.js"></script>
    <script src="/Nacmen/client.js"></script>
    <script src="/Nacmen/javascripts/LS_form_js/popper.min.js"></script>
    <script src="/Nacmen/javascripts/LS_form_js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/git/jquery-3.x-git.min.js"></script>
    <script src="/Nacmen/javascripts/LS_form_js/main.js"></script>

</body>

</html>