<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>NACMEN OFFICIAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive Bootstrap 4 Chat App" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->


    <!-- magnific-popup css -->
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- Bootstrap Css -->
    <link href="/static/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="/static/css/app-dark.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <body>
        {{{body}}}

        <script src="/socket.io/socket.io.js"></script>
        <script src="/client.js"></script>

        <!-- JAVASCRIPT -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/simplebar.min.js"></script>
        <script src="/static/js/waves.min.js"></script>

        <!-- Magnific Popup-->
        <script src="/static/js/jquery.magnific-popup.min.js"></script>

        <!-- owl.carousel js -->
        <script src="/static/js/owl.carousel.min.js"></script>

        <!-- page init -->
        <script src="/static/js/index.init.js"></script>

        <script src="/static/js/app.js"></script>

    </body>

</html>