<div class=" d-flex align-items-center justify-content-center" style="height: 90vh;">
  <div class="card text-center mycard align-middle border-0 shadow-lg">
    <div class=" align-middle p-1 loginHead">
      LOGIN
    </div>
    <div class="card-body">
      <form action="user/loginForm" method="POST" name="loginForm" id="loginForm">
        <div class="form-group">
          <input id="username" name="username" class="form-control p-3 myInput shadow-none" placeholder="Enter Email"
             oninput="userValid()">
          <div style="height: 1.8rem;">
            <small class="form-text text-muted">

              <span id="userErr" class="formValid"></span>

            </small>
          </div>
        </div>
        <div class="input-group pt-1">
          <input id="password" name="password" type="password" class="form-control p-3 myInput shadow-none"
            style="border-right: 0;" placeholder="Password" oninput="passValid()">

          <span class="input-group-text passEyeBG " id="passEyeBG"> <i class="fa fa-eye fa-lg passEye" id="passEye"
              onclick="showPass();"></i>
          </span>
        </div>
        <div style="height: 1.8rem;">
          <small class="form-text text-muted">
            <span id="passErr" class="formValid"></span>
            {{#if message}}
            <script>
              document.getElementById('passErr').innerHTML = "Username or Password Invalid";
              setTimeout(() => {
                document.getElementById('passErr').innerHTML = "";
              }, 3000)
            </script>
            {{/if}}

          </small>
        </div>

        <div class="form-group pt-3">
          <button type="submit" class="btn p-3 buttonLogin" onclick="userValid();passValid();">SIGN IN</button>
        </div>
      </form>
      <div class="mt-3">
        <a href="/user/signup" class="login-signup-switch">Not a user? Sign Up</a>

      </div>
    </div>

  </div>

</div>
</div>
<script>
  
document.loginForm.addEventListener("submit", function (event) {

  var user = this.querySelector("input[id=username]").value;
  var pass = this.querySelector("input[id=password]").value;
  var regx = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;


  if (user.trim() == "" || !user.match(regx)) {
    document.getElementById("username").focus();
    event.preventDefault();
  }
  else if (pass.trim() == "" || pass.length < 5) {
    document.getElementById("password").focus();
    event.preventDefault();
  }
});
</script>